/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
a {
    text-decoration:none;
    color: currentColor;
}
ul,
ol {
    list-style: none;
}
img {
    max-width: 100%;
  
}

/* layout */
.container {
    max-width: 700px;
    margin:0 auto;
    
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.col {
    flex-basis: 33.33%;
    padding:0 4px;
    position:relative;
    
}
/*text*/
body {
    font-family: "Noto Sans JP", sans-serif;
}
p span {
    color: black;
    text-decoration: line-through;
}
h3 {
    font-size: 10px;
    font-weight: 800;
}
.under-img p:last-child {
    font-size:8px;
    color:red;
    font-weight: 800;
}
.under-img p:first-child {
    font-size: 10px;    
}
/*features*/
.heart span {
    display:inline-block;
    font-size: 10px;
}
.heart span:hover {
    color: red;
    font-size: 17px;
}
/*position*/
.heart {
    position:absolute;
    background-color: white;
    padding:4px 4px;
    top:10px;
    right:6px;


}
.under-img {
    margin-bottom: 20px;
}
.discount {
    background-color: rgb(242, 68, 15);
    position:absolute;
    bottom:90px;
    color: white;
    font-size: 11px;
    padding: 4px 4px;
    font-weight: 550;
}
.sustain {
    background-color: rgb(10, 147, 10);
    position:absolute;
    bottom:90px;
    left:40px;
    color: white;
    font-size: 7px;
    padding: 4px 4px;
    font-weight: 550;
}
#different-left {
    left:3px;
}
.discount.dif-pos {
    bottom:70px;
}
   


/*debug*/
.debug {
    background-color: blue;
    
    border: 2px dashed red;
    min-height: 300px;
    
}
